Question 3

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.
 Null Hypothesis Ho: There is no association or dependency between the gender based buyer rations across regions
 Alternate Hypothesis(H1): There is a significant association or dependency between the gender based buyer rations across regions
Chi Square test of independence for categorical data

In [1]:
import pandas as pd 
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
Ratio= pd.read_csv("BuyerRatio.csv")

In [4]:
Ratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
Ratio = Ratio.drop('Observed Values', axis=1)
Ratio

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [7]:
stat,p,dof,expected=stats.chi2_contingency(Ratio)

In [8]:
alpha =0.05

In [9]:
print("Chi Square test value is ", p)
if p<=alpha:
    print("Reject Null hypothesis")
else:
    print("Null hypothesis holds true")

Chi Square test value is  0.6603094907091882
Null hypothesis holds true

We accept Null Hypothesis and reject the alternative hypothesis. Therefore, there is no association or dependency between male-female buyers rations and are similar across regions. Hence, Independent samples